PORT=3000
NODE_ENV=production

DATABASE_URL=postgresql://sushimudb_user:vsHpffQixhLXmWjSpJH5J0fALumsKF0c@dpg-d7qkfcvavr4c73evjcig-a.oregon-postgres.render.com/sushimudb
DB_SSL=true

JWT_SECRET=9e317096c81dc4dc0a00f5a43dc6bdfff8d85dcbca035e8975bd5608b698337c56a3b18d0b29266e2e9daf2b4dd464f181f9477e1e85771af492cf9d88a32de8
JWT_EXPIRES_IN=1h

FRONTEND_URL=https://tu-frontend.onrender.com

ADMIN_USERNAME=sushi-admin
ADMIN_PASSWORD=CAMBIA_ESTA_PASSWORD
ADMIN_NAME=Administrador Sushi
